<!DOCTYPE html>
<html lang="en">
<head>
  <title>CutieSound:Global Offensive Music Generator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="HTML5 website template">
  <meta name="keywords" content="global, template, html, sass, jquery">
  <meta name="author" content="Bucky Maler">
  <link rel="stylesheet" href="../static/css/main.css">
  <link rel="shortcut icon" href="../static/img/1684693217.ico" type="image/x-icon"> 
</head>
<body>

<!-- notification for small viewports and landscape oriented smartphones -->
<div class="device-notification">
  <a class="device-notification--logo" href="#0">
    <img src="../static/img/logo.png" alt="Music Generator">
    <p>CutieSound</p>
  </a>
  <p class="device-notification--message">CutieSound has so much to offer that we must request you orient your device to portrait or find a larger screen. You won't be disappointed.</p>
</div>

<div class="perspective effect-rotate-left">
  <div class="container"><div class="outer-nav--return"></div>
    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">


        <header class="header">
          <a class="header--logo" href="#0">
            <img src="../static/img/logo.png" alt="Music Generator">
            <p>CutieSound</p>
          </a>
          <button class="header--cta cta" onclick="location.href='music'">Generate My Own Music</button>
          <div class="header--nav-toggle">
            <span></span>
          </div>
        </header>


        <nav class="l-side-nav">
          <ul class="side-nav">
            <li class="is-active"><span>Home</span></li>
            <li><span>About</span></li>
            <li><span>Genres</span></li>
            <li><span>Contact</span></li>
            <li><span>Give Feedbacks</span></li>
          </ul>
        </nav>


        <ul class="l-main-content main-content">


          <li class="l-section section section--is-active">
            <div class="intro">
              <div class="intro--banner">
                <h1>Your next<br>interactive<br>experience</h1>


                <button class="cta" onclick="location.href='music'">Generate My Own Music
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                  </g>
                  </svg>
                  <span class="btn-background"></span>
                </button>


                <img src="../static/img/introduction-visual.png" alt="Welcome">

              </div>
            </div>
          </li>

          <li class="l-section section">
            <div class="about">
              <div class="about--banner">

                <h2>We<br>believe in<br>passionate<br>people</h2>

                <a href="#0">More
                  <span>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                    <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                      <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                    </g>
                    </svg>
                  </span>
                </a>

                <img src="../static/img/about-visual.png" alt="About Us">

              </div>


              <div id="about" class="about--options">
                <a href="#0">
                  <h3>Winners</h3>
                </a>
                <a href="#0">
                  <h3>Philosophy</h3>
                </a>
                <a href="#0">
                  <h3>History</h3>
                </a>
              </div>


            </div>
          </li>

          <li class="l-section section">
            <div class="work">

              <h2>-</h2>

              <div class="work--lockup">

                <ul class="slider">
                  <li class="slider--item slider--item-left">
                    <a href="https://en.wikipedia.org/wiki/Baroque_music">
                      <div class="slider--item-image">
                        <img src="../static/img/work-victory.jpg" alt="Baroque Music">
                      </div>
                      <p class="slider--item-title">Baroque Music(1600-1750)</p>
                      <p class="slider--item-description">"Baroque music is that in which the harmony is confused, and loaded with modulations and dissonances. The singing is harsh and unnatural, the intonation difficult, and the movement limited.</p>
                    </a>
                  </li>

                  <li class="slider--item slider--item-center">
                    <a href="https://en.wikipedia.org/wiki/Classical_music">
                      <div class="slider--item-image">
                        <img src="../static/img/work-metiew-smith.jpg" alt="Classical Music">
                      </div>
                      <p class="slider--item-title">Classical Music(1750-1830)</p>
                      <p class="slider--item-description">Classical music is often characterized by formality and complexity in its musical form and harmonic organization, particularly with the use of polyphony.</p>
                    </a>
                  </li>

                  <li class="slider--item slider--item-right">
                    <a href="https://en.wikipedia.org/wiki/Romantic_music">
                      <div class="slider--item-image">
                        <img src="../static/img/work-alex-nowak.jpg" alt="Romantic Music">
                      </div>
                      <p class="slider--item-title">Romantic Music(1830-1900)</p>
                      <p class="slider--item-description">Despite its name, the Romantic era isn’t known for its romance. Composers during this era wrote increasingly emotive and
                      intense music inspired by nature, literature, and poetry.</p>
                    </a>
                  </li>

                </ul>


                <div class="slider--next">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                    <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                      <path
                        d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z" />
                    </g>
                  </svg>
                </div>


              </div>
            </div>
          </li>


          <li class="l-section section">
            <div class="contact">
              <div class="contact--lockup">
                <div class="modal">
                  <div class="modal--information">
                    <p>No. 388, Lumo Road,<br> Wuhan City, Hubei Province, China</p>
                    <a href="mailto:yuhanlu@cug.edu.cn">yuhanlu@cug.edu.cn</a>
                    <a href="tel:+8619914546664">+86 199 1454 664</a>
                  </div>
                  <ul class="modal--options">
                    <li><a href="https://t.me/Joker_Butters">Telegram</a></li>
                    <li><a href="mailto:yuhanlu@cug.edu.cn">Contact Us</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>


          <li class="l-section section">
            <div class="hire">
              <h2>You want us to do</h2>
              <!-- checkout formspree.io for easy form setup -->
              <form class="work-request">
                <div class="work-request--options">
                  <span class="options-a">
                    <input id="opt-1" type="checkbox" value="More Style">
                    <label for="opt-1">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                      More Style
                    </label>
                    <input id="opt-2" type="checkbox" value="Faster">
                    <label for="opt-2">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                      Faster
                    </label>
                    <input id="opt-3" type="checkbox" value="Higher Quality">
                    <label for="opt-3">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                      Higher Quality
                    </label>
                  </span>
                </div>


                <div class="work-request--information">
                  <div class="information-name">
                    <input id="name" type="text" spellcheck="false">
                    <label for="name">Name</label>
                  </div>
                  <div class="information-email">
                    <input id="email" type="email" spellcheck="false">
                    <label for="email">Email</label>
                  </div>
                </div>


                <input type="submit" value="Send Feedbacks">


              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <ul class="outer-nav">
    <li class="is-active">Home</li>
    <li>About</li>
    <li>Genres</li>s
    <li>Contact</li>
    <li>Give Feedbacks</li>
    <li onclick="location.href='music'">Generate</li>
  </ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../static/js/vendor/jquery-2.2.4.min.js"><\/script>')</script>
<script src="../static/js/functions-min.js"></script>
</body>
</html>
